body{
    background-image: url('../img/ac.jpg');
}
table {
    border: solid 5px;
    text-align: center;
}
.todo table tr td > div {
    height: 100px;
    width: 100px;
    background-color: white;
    text-transform: uppercase;
    border: solid;
}

.a{
    background-image: url('../img/back_mantel.jpg');
}
.b{
    background-color: transparent !important;
}
.b > div {
    background-image: url('../img/back_mantel.jpg');
    margin: 10px;
    height: 80px;
}
.c{
    background-image: url('../img/back_mantel.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}
.d{
    background-image: url('../img/back_mantel.jpg');
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
}
.e{
    background-image: url('../img/dh.jpg');
    background-size: 100%;
}
.f{
    background-image: url('../img/dh.jpg');
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
}
.g{
    background-image: url('../img/dh_2.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

}
.h{
    background-image: url('../img/dh_3.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.i{
    background: linear-gradient(to right, #d2ff52 0%, #566647 100%);
}
.j{
    background: linear-gradient(to bottom, rgba(240,183,161,1) 0%, rgba(140,51,16,1) 80%, rgba(117,34,1,1) 51%, rgba(191,110,78,1) 100%);

}
.k{
    background: linear-gradient(to top, rgba(50,116,45,1) 0%, rgba(239,239,210,1) 100%);

}
.l{
    background: linear-gradient(to top, rgba(50,116,45,1) 0%, transparent 100%);
}
